@import '/src/styles';

.SocialLink {
    display: flex;

    margin-bottom: vh(40);

    @include mobile-portrait {
        margin-bottom: mvh(20);
    }

    &:last-child {
        margin-bottom: 0;
    }

    &-icon {
        width: vh(62);
        height: vh(62);
        margin-right: vw(20);

        @include mobile-portrait {
            width: mvw(31.5);
            height: mvw(31.5);
            margin-right: mvh(10);
        }
    }

    &-label {
        font-size: vh(50);
        line-height: vh(61);

        @include mobile-portrait {
            font-size: mvw(26);
            line-height: mvw(31);
        }
    }
}