@import '/src/styles';

.Player {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-label {
        font-weight: 300;
        font-size: vw(36);
        line-height: vw(44);
        margin-bottom: vh(20);

        @include mobile-portrait {
            font-size: mvw(14);
            line-height: mvw(17);
            margin-bottom: mvh(5);
        }
    }

    &-controls {
        display: flex;
        align-items: center;

        svg {
            width: vw(69);
            height: vw(50);

            @include mobile-portrait {
                width: mvw(40);
                height: auto;
            }
        }
    }

    &-circle {
        width: vw(90);
        height: vw(90);

        border-radius: 50%;
        background-color: $pink;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: vw(61);
            height: vw(61);
            margin-left: -#{vw(4)};

            @include mobile-portrait {
                width: mvw(32.5);
                height: mvw(32.5);
                margin-left: -#{mvw(2)};
            }
        }

        @include mobile-portrait {
            width: mvw(50);
            height: mvw(50);
        }
    }
}