@import 'styles';

body {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;

  padding: vh(140) vw(290) vh(130) vw(155);

  display: flex;
  justify-content: space-between;

  @include mobile-portrait {
    padding: mvh(60) mvw(43);
    flex-direction: column;
    justify-content: unset;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    z-index: 2;

    @include mobile-portrait {
      margin-bottom: mvh(40);
    }
  }

  &-right {
    display: flex;
    height: vh(619);
    z-index: 2;

    @include mobile-portrait {
      height: auto;
      justify-content: center;
    }
  }

  &-vertical {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;

    height: fit-content;

    transform: rotate(180deg);
    white-space: nowrap;

    font-family: 'Syne-Variable', sans-serif;
    font-weight: bold;

    font-size: vw(59);
    line-height: vw(71);

    padding-left: vw(30);

    border-left: 2px solid $pink;
    color: $pink;

    user-select: none;

    @include mobile-portrait {
      font-size: mvw(27);
      line-height: mvw(32);

      border-left: 3px solid $pink;
    }
  }

  &-socials {
    display: flex;
    flex-direction: column;
    margin-left: vw(40);

    @include mobile-portrait {
      margin-left: mvw(20);
    }
  }

  &-image {
    width: vh(619);
    height: vh(619);

    @include mobile-portrait {
      width: 100%;
      height: auto;

      margin-bottom: mvw(30);
    }
  }

  &-logo {
    $height: calc(100% - #{vh(100)});

    position: absolute;
    right: 0;

    top: vh(50);

    height: $height;
    width: auto;

    pointer-events: none;
    z-index: 0;

    @include mobile-portrait {
      $m_height: calc(100% - #{mvh(230)});

      height: $m_height;
      width: auto;

      top: unset;
      right: -#{vw(400)};
      bottom: -#{mvh(100)};
    }
  }
}
